Orders/ChangeOrderStatus. Portal - 1C.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:tns="http://b2b.rubezh.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://b2b.rubezh.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ChangeOrderStatus">
        <xs:sequence>
		<xs:element name="PortalOrderID" type="xs:int" />
		<xs:element name="ExternalOrderID" type="xs:string"/>
		<xs:element name="Status" type="xs:string"/>
	</xs:sequence>
    </xs:complexType>
</xs:schema>
