Orders/CreateOrderResponse. 1C - Portal.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:tns="http://b2b.rubezh.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://b2b.rubezh.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="CreateOrderResponse">
        <xs:attribute name="ExternalOrderID" type="xs:string" use="optional" />
        <xs:attribute name="ExternalOrderNumber" type="xs:string" use="optional" />
    </xs:complexType>
</xs:schema>