CreateRequestVarianceOfMRC.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://b2b.rubezh.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://b2b.rubezh.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="CreateRequestVarianceOfMRC">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="RequestVarianceOfMRC" type="tns:RequestVarianceOfMRC" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestVarianceOfMRC">
        <xs:sequence>
            <xs:element name="POS" type="tns:POS" minOccurs="1" maxOccurs="1" />
            <xs:element name="filesLists" type="tns:file" minOccurs="1" maxOccurs="unbounded" />
            <xs:element name="typeProductMRC" type="tns:typeProductMRC" minOccurs="1" maxOccurs="unbounded" />
            <xs:element name="responsible" type="tns:responsible" />
            <xs:element name="buyer" type="tns:Client" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="guid" type="xs:string" use="required" />
        <xs:attribute name="guid_client" type="xs:string" use="required" />
        <xs:attribute name="number" type="xs:string" />
        <xs:attribute name="dateDoc" type="xs:dateTime" />
        <xs:attribute name="status" type="xs:string" use="required" />
        <xs:attribute name="TypeOS" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="POS">
        <xs:sequence>
            <xs:element name="region" type="tns:region" minOccurs="1" maxOccurs="1" />
            <xs:element name="addressKI" type="xs:string" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="guid" type="xs:string" use="required" />
        <xs:attribute name="code" type="xs:string" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="address" type="xs:string" />
        <xs:attribute name="datePlanRelease" type="xs:date" />
        <xs:attribute name="NumberCadastral" type="xs:string" />
        <xs:attribute name="Reconstruction" type="xs:boolean" />
        <xs:attribute name="datePlanShipment" type="xs:date" />
        <xs:attribute name="Square" type="xs:decimal" />
        <xs:attribute name="Width" type="xs:string" />
        <xs:attribute name="Longitude" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="region">
        <xs:attribute name="AddressElementCode" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="file">
        <xs:attribute name="Type" type="xs:string" use="required" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="folder" type="xs:string" use="required" />
        <xs:attribute name="serverFTP" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="typeProductMRC">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="reason" type="xs:string" />
        <xs:attribute name="Percent" type="xs:decimal" />
    </xs:complexType>
    <xs:complexType name="responsible">
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="phone" type="xs:string" />
        <xs:attribute name="email" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="Client">
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="INN" type="xs:string" use="required" />
        <xs:attribute name="KPP" type="xs:string" />
        <xs:attribute name="IsLegalPerson" type="xs:boolean" use="required" />
    </xs:complexType>
</xs:schema>
