CreateRepairCost.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema
	xmlns:tns="http://b2b.rubezh.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://b2b.rubezh.ru/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="CreateRepairCost">
		<xs:sequence>
			<xs:element name="SNList" type="tns:SNList" maxOccurs="unbounded" />
			<xs:element name="Files" type="tns:Files" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="GUID_Claim" type="xs:string" use="required" />
		<xs:attribute name="PortalOrderID" type="xs:int" use="required" />
		<xs:attribute name="Comment" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="SNList">
		<xs:sequence>
			<xs:element name="GUID_nom" type="xs:string" maxOccurs="1" />
			<xs:element name="SN" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Files">
		<xs:sequence>
			<xs:element name="name" type="xs:string" maxOccurs="1" />
			<xs:element name="path" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
