CreateClaim.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://b2b.rubezh.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://b2b.rubezh.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="CreateClaim">
        <xs:sequence>
            <xs:element name="ReturnList" type="tns:ReturnList" maxOccurs="unbounded" />
            <xs:element name="ConsigneeInfo" type="tns:ConsigneeInfo" />
            <xs:element name="TTNFiles" type="tns:TTNFiles" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ReturnMethod" type="tns:ReturnMethod" />
            <xs:element name="ClientClaim" type="tns:ClientClaim" minOccurs="0" maxOccurs="1" />
            <xs:element name="ContactClaim" type="tns:ContactClaim" />
        </xs:sequence>
        <xs:attribute name="GUID_client" type="xs:string" />
        <xs:attribute name="PortalOrderID" type="xs:int" use="required" />
        <xs:attribute name="Comment" type="xs:string" />
        <xs:attribute name="GPFile" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="ReturnList">
        <xs:sequence>
            <xs:element name="GUID_nom" type="xs:string" />
            <xs:element name="SN" type="xs:string" />
            <xs:element name="DateProd" type="xs:date" />
            <xs:element name="guarantee" type="xs:boolean" />
            <xs:element name="ServiceConditions" type="xs:int" minOccurs="0" />
            <xs:element name="ServicePeriod" type="xs:int" minOccurs="0" />
            <xs:element name="ServiceView" type="xs:int" minOccurs="0" />
            <xs:element name="CharacteristicProblem" type="xs:int" minOccurs="0" />
            <xs:element name="CharacteristicText" type="xs:string" />
            <xs:element name="GUID_OS" type="xs:string" minOccurs="0" />
            <xs:element name="textList" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnMethod">
        <xs:sequence>
            <xs:element name="DeliveryMethodRecl" type="xs:string" minOccurs="1" />
            <xs:element name="DeliveryCompanyId" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConsigneeInfo">
        <xs:sequence>
            <xs:element name="Id" type="xs:string" />
            <xs:element name="Address" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TTNFiles">
        <xs:attribute name="TrecNum" type="xs:string" />
        <xs:attribute name="CompName" type="xs:string" />
        <xs:attribute name="FileName" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="ClientClaim">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="INN" type="xs:string" use="required" />
        <xs:attribute name="KPP" type="xs:string" />
        <xs:attribute name="address" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="ContactClaim">
        <xs:attribute name="CL_FIO" type="xs:string" />
        <xs:attribute name="CL_tel" type="xs:string" />
        <xs:attribute name="CL_email" type="xs:string" />
    </xs:complexType>
</xs:schema>
