getClientKPI.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://b2b.rubezh.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://b2b.rubezh.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="getClientKPI">
        <xs:sequence>
            <xs:element name="findingsList" type="tns:findings" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="guid_Client" type="xs:string" use="required" />
        <xs:attribute name="DatePeriod" type="xs:date" use="required" />
    </xs:complexType>
    <xs:complexType name="findings">
        <xs:attribute name="section" type="xs:string" />
        <xs:attribute name="Indicator" type="xs:string" />
        <xs:attribute name="plan" type="xs:decimal" />
        <xs:attribute name="fact" type="xs:decimal" />
        <xs:attribute name="percent" type="xs:decimal" />
        <xs:attribute name="score" type="xs:decimal" />
    </xs:complexType>
</xs:schema>
