getProtectionOfOSForClient.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://b2b.rubezh.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://b2b.rubezh.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="getProtectionOfOSForClient">
        <xs:attribute name="guid_client" type="xs:string" use="required" />
        <xs:attribute name="code_OS" type="xs:string" use="required" />
        <xs:attribute name="dateRequest" type="xs:dateTime" use="required" />
    </xs:complexType>
</xs:schema>
