PostPaymentSchedule.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://b2b.rubezh.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://b2b.rubezh.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="PostPaymentSchedule">
        <xs:sequence>
            <xs:element name="Order" type="tns:Order" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Order">
        <xs:sequence>
            <xs:element name="Graf" type="tns:Graf" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="Result" type="xs:boolean" use="required" />
        <xs:attribute name="Order_ID" type="xs:string" use="required" />
        <xs:attribute name="Contr_ID" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="Graf">
        <xs:attribute name="PayDate" type="xs:date" />
        <xs:attribute name="Sum" type="xs:decimal" />
    </xs:complexType>
</xs:schema>
