ResponseMemo.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://b2b.rubezh.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://b2b.rubezh.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ResponseMemo">
        <xs:sequence>
            <xs:element name="Memo" type="tns:Memo" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="ID" type="xs:string" use="required" />
        <xs:attribute name="IsMany" type="xs:boolean" use="required" />
        <xs:attribute name="WarehousInfo" type="xs:string" />
        <xs:attribute name="IsFull" type="xs:boolean" use="required" />
    </xs:complexType>
    <xs:complexType name="NomenlatureList">
        <xs:attribute name="GUID_nom" type="xs:string" use="required" />
        <xs:attribute name="Quantity" type="xs:decimal" use="required" />
    </xs:complexType>
    <xs:complexType name="Memo">
        <xs:sequence>
            <xs:element name="NomenlatureList" type="tns:NomenlatureList" minOccurs="1" maxOccurs="unbounded" />
            <xs:element name="WarehousInfo" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="ID" type="xs:string" use="required" />
    </xs:complexType>
</xs:schema>
