СreateMemo.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://b2b.rubezh.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://b2b.rubezh.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="createMemo">
        <xs:sequence>
            <xs:element name="DeliveryInfo" type="tns:DeliveryInfo" />
            <xs:element name="ConsigneeInfo" type="tns:ConsigneeInfo" />
            <xs:element name="NomenlatureList" type="tns:NomenlatureList" maxOccurs="unbounded" />
            <xs:element name="AdditionalDeliveryInformation" type="tns:AdditionalDeliveryInformation" />
        </xs:sequence>
        <xs:attribute name="OrderID" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="NomenlatureList">
        <xs:attribute name="GUID_nom" type="xs:string" use="required" />
        <xs:attribute name="Quantity" type="xs:decimal" use="required" />
    </xs:complexType>
    <xs:complexType name="DeliveryInfo">
        <xs:sequence>
            <xs:element name="DeliveryCompanyId" type="xs:string" minOccurs="0" />
            <xs:element name="DeliveryMethod" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConsigneeInfo">
        <xs:sequence>
            <xs:element name="Id" type="xs:string" />
            <xs:element name="Address" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalDeliveryInformation">
        <xs:sequence>
            <xs:element name="DeliveryDate" type="xs:date" minOccurs="0" />
            <xs:element name="DeliveryTime" type="xs:time" minOccurs="0" />
            <xs:element name="Comment" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
