СreateAct.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://b2b.rubezh.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://b2b.rubezh.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="createAct">
        <xs:attribute name="GUID_client" type="xs:string" use="required" />
        <xs:attribute name="GUID_contract" type="xs:string" use="required" />
        <xs:attribute name="DataS" type="xs:date" use="required" />
        <xs:attribute name="DataPo" type="xs:date" use="required" />
        <xs:attribute name="Format" type="xs:int" use="required" />
        <xs:attribute name="Sposob" type="xs:int" use="required" />
    </xs:complexType>
</xs:schema>
