СreateKP.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://b2b.rubezh.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://b2b.rubezh.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="createKP">
        <xs:sequence>
            <xs:element name="NomenlatureList" type="tns:NomenlatureList" maxOccurs="unbounded" />
            <xs:element name="OSInfo" type="tns:OSInfo" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="GUID_client" type="xs:string" use="required" />
        <xs:attribute name="GUID_contract" type="xs:string" use="required" />
        <xs:attribute name="RequestPrice" type="xs:boolean" />
    </xs:complexType>
    <xs:complexType name="NomenlatureList">
        <xs:attribute name="GUID_nom" type="xs:string" use="required" />
        <xs:attribute name="Quantity" type="xs:decimal" use="required" />
    </xs:complexType>
    <xs:complexType name="OSInfo">
        <xs:attribute name="GUID" type="xs:string" />
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="Adres" type="xs:string" />
    </xs:complexType>
</xs:schema>
